$scale: 1em;
.directory {
  font-family: monospace;
  line-height: 2 * $scale;
  &__child {
    margin-left: 2 * $scale;
    position: relative;
    &:last-child {
      &::after {
        display: none;
      }
    }
    &::before {
      border-bottom: 1px solid;
      border-left: 1px solid;
      content: "";
      height: $scale;
      left: -$scale;
      position: absolute;
      width: 0.7 * $scale;
    }
    &::after {
      border-left: 1px solid;
      content: "";
      height: 100%;
      left: -$scale;
      position: absolute;
      top: 0;
    }
  }
}
